<app-navbar></app-navbar>

<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-md-3 left-side">
      <mat-card class="mt-4">
        <form class="mb-3">
          <mat-form-field appearance="fill">
            <mat-label>Select project</mat-label>
            <mat-select [value]="initialProjectId" (valueChange)="changeProject($event)">
              <mat-option  *ngFor="let project of projects;" [value]="project.id" >{{project.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <div class="text-center">
          <button class="w-100" type="button" (click)="clearForm()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add task</button>
          <div class="m-4 form-check form-switch">
            <input class="form-check-input cb-myTask" (change)="changeToMyProjects($event)" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Show my tasks</label>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-9 mt-3">
      <div cdkDropListGroup>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="example-container">
                <h2 class="text-uppercase text-center header-title">To do<span *ngIf="todoTasks.length > 0"> - {{todoTasks.length}}</span></h2>
                <div
                  cdkDropList
                  [cdkDropListData]="todoTasks"
                  id="0"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" (click)="displayOne(item)" data-bs-toggle="modal" data-bs-target="#exampleModal2" *ngFor="let item of todoTasks" cdkDrag>{{item.name}}
                    <div class="box">
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal3" mat-icon-button color="warn" (click)="deleteTask(item.id)"><mat-icon>delete</mat-icon></button>
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal" mat-icon-button color="primary" (click)="onEdit(item)"><mat-icon>edit</mat-icon></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="example-container">
                <h2 class="text-uppercase text-center header-title">In progress<span *ngIf="inProgressTasks.length > 0"> - {{inProgressTasks.length}}</span></h2>
                <div
                  cdkDropList
                  [cdkDropListData]="inProgressTasks"
                  id="1"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                    <div class="example-box" (click)="displayOne(item)" data-bs-toggle="modal" data-bs-target="#exampleModal2" *ngFor="let item of inProgressTasks;" cdkDrag>{{item.name}}
                      <div class="box">
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal3"  mat-icon-button color="warn" (click)="deleteTask(item.id)"><mat-icon>delete</mat-icon></button>
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal" mat-icon-button color="primary" (click)="onEdit(item)"><mat-icon>edit</mat-icon></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="example-container">
                <h2 class="text-uppercase text-center header-title">Done<span *ngIf="doneTasks.length > 0"> - {{doneTasks.length}}</span></h2>
                <div
                  cdkDropList
                  [cdkDropListData]="doneTasks"
                  id="2"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" (click)="displayOne(item)" data-bs-toggle="modal" data-bs-target="#exampleModal2" *ngFor="let item of doneTasks;let i = index" cdkDrag>{{item.name}}

                    <div class="box">
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal3" mat-icon-button color="warn" (click)="deleteTask(item.id)"><mat-icon>delete</mat-icon></button>
                      <button class="green-circle" mat-icon-button><mat-icon>check_circle</mat-icon></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addTaskForm">
          <input formControlName="id" type="hidden" name="">
          <div class="mb-3">
            <label class="form-label">Task Name</label>
            <input type="text" formControlName="name"  class="form-control">
            <small *ngIf="addTaskForm.controls['name'].dirty && addTaskForm.hasError('required','name')" class="text-danger mt-2">*Name of a task is required</small>
          </div>
          <div class="mb-3">
            <label class="form-label">Priority</label>
            <select formControlName="priority"  class="form-select">
              <option *ngFor="let p of taskPriorityArr;let i = index" [value]="i">{{p}}</option>
            </select>
          </div>
          <div class="mb-3">

            <label  class="form-label">Status</label>
            <select formControlName="status" class="form-select" >
              <option *ngFor="let staus of taskStatusArr;let i = index" [value]="i">{{staus}}</option>
            </select>
          </div>
          <div class="mb-3">
              <ng-multiselect-dropdown formControlName="userIds"  [placeholder]="'Assigne to'"
            [settings]="dropdownSettings"
            [data]="users">
            </ng-multiselect-dropdown>
            <small *ngIf="addTaskForm.controls['userIds'].dirty && addTaskForm.hasError('required','userIds')" class="text-danger mt-2">*You must assigne task to atleast one user.</small>
          </div>
          <div class="mb-3">
            <div class="form-floating">
              <textarea formControlName="description" class="form-control" placeholder="Description of a task"></textarea>
              <label for="floatingTextarea">Description</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf="showAdd"  [disabled]="addTaskForm.invalid"  (click)="addTask()" type="button" class="btn btn-primary">Add</button>
        <button [disabled]="addTaskForm.invalid"  *ngIf="showEdit" (click)="editTask()" type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>



<div  class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-width">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">INT-{{displayedItem?.id}}: {{displayedItem?.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <h2 class="text-uppercase">{{displayedItem?.name}}</h2>
        <p class="my-3 lh-sm">{{displayedItem?.description}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat iste tenetur aliquam provident, fuga magnam laudantium molestias quis harum dolores, iusto saepe eaque porro ullam voluptatem. Nemo dignissimos eum placeat molestiae laborum illo! Obcaecati vitae pariatur laborum, animi veritatis tempore possimus aperiam nemo neque ipsum, provident harum, voluptas minus delectus. </p>
        <div class="mb-3 fw-bold">
          Assigned to: {{ this.displayUserNames}}
        </div>
        <div class="d-flex aligin-items-center justify-content-between">
          <span class="p-2 badge rounded-pill text-bg-dark">Status: {{displayedItem?.status}}</span>
          <span class="p-2 badge rounded-pill text-bg-primary">Priority: {{displayedItem?.priority}}</span>
        </div>
        <div class="my-3">
          <label for="formFile" class="form-label">Add attachments:</label>
          <div class="d-flex">
            <input class="form-control" type="file" id="file" (change)="onUploadFile($event)">
            <button [disabled]="selectedFile === undefined" type="button" class="btn btn-primary" (click)="uploadFile()">Upload</button>
          </div>
        </div>
      </div>
      <div *ngIf="displayedItem?.taskFiles!.length > 0">
        <h5 class="fs-6 mx-3">Attachments:</h5>
        <div class="modal-footer justify-content-start">
          <p *ngFor="let item of this.displayedItem?.taskFiles">
              <span (click)="deleteFile(item.fileName)" title="Delete resource" class="px-1 trash-icon"><i class="fa fa-trash" aria-hidden="true"></i></span>
              <a title="Go to resource" target="_blank" href="{{item.fileUri}}"><img src="{{item.fileUri}}" alt="" width="150px" height="150px"></a>
          </p>
      </div>
      </div>
    </div>
  </div>
</div>

