// @import 'assets.scss';
// * {
//   box-sizing: border-box;
//   overflow: hidden;
// }
// body{
//   background-color: $bg-color;
// }
h1,h2,h3,p{
  margin: 0px!important;
  padding: 0!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
  background-color: #ccc2cc;
  overflow: hidden;
}
// // mat button
// button{
//   width: 90%;
//   text-align: center;
//   background-color: $navbar-color!important;
//   color: $white!important;
// }
