
h1,h2,h3,p{
  margin: 0px!important;
  padding: 0!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
  background-color: #ccc2cc;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  body {
    overflow-y: scroll;
  }
  .left-side{
    height: 40vh!important;
  }
}
